.tagcloud {
    font-size: 0.9rem;
    color: var(--tag-text-color);
  }
  .tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .tagcloud--item:hover {
    background-color: var(--tag-background-color);
    border-radius: 5px;
    opacity: 1 !important;
    z-index: 100 !important;
  }
  /* 
  .light .tagcloud--item {
    color: #fff;
  }
  .light .tagcloud--item:hover {
    background-color: var(--tag-background-color);
    border: 1px solid #fff;
  } */